/.bundle
/.sass-cache
/.cache
.DS_Store
/build

src/images/icons_colored
src/images/icons
assets/screenshots
assets/metadata
assets/originals/res/*
node_modules
platforms/*
!platforms/platforms.json
plugins/*
!plugins/fetch.json
www
Preview.html
Temp.*
