<?xml version='1.0' encoding='utf-8'?>
<widget id="name.sokurenko.AllegroTime" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AllegroTime</name>
  <description>
    AllegroTime – check the Allegro schedule on mobile.
  </description>
  <author email="dmitry@sokurenko.name" href="http://sokurenko.name">
    Dmitry Sokurenko
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" version="1" />

  <access origin="*" />

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <platform name="android">
    <allow-intent href="market:*" />
    <preference name="android-targetSdkVersion" value="23" />
  </platform>

  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarStyle" value="default" />

  <preference name="DisallowOverscroll" value="true" />

  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashScreenDelay" value="1500" />
  <preference name="SplashMaintainAspectRatio" value="false" />

  <platform name="ios">
    <preference name="Orientation" value="default" />
    <preference name="BackupWebStorage" value="none"/>

    <icon src="originals/res/IconApple-60@2x.png"        width="120" height="120" />
    <icon src="originals/res/IconApple-60@3x.png"        width="180" height="180" />
    <icon src="originals/res/IconApple-76.png"           width="76"  height="76" />
    <icon src="originals/res/IconApple-76@2x.png"        width="152" height="152" />
    <icon src="originals/res/IconApple-40.png"     width="40"  height="40" />
    <icon src="originals/res/IconApple-40@2x.png"  width="80"  height="80" />
    <icon src="originals/res/IconApple-29.png"        width="29"  height="29" />
    <icon src="originals/res/IconApple-29@2x.png"     width="58"  height="58" />
    <icon src="originals/res/IconApple-29@2x.png"     width="87"  height="87" />

    <splash src="originals/res/Default.png"               width="320" height="480"/>
    <splash src="originals/res/Default@2x.png"            width="640" height="960"/>
    <splash src="originals/res/Default-Portrait.png"      width="768" height="1024"/>
    <splash src="originals/res/Default-Portrait@2x.png"   width="1536" height="2048"/>
    <splash src="originals/res/Default-Landscape.png"     width="1024" height="768"/>
    <splash src="originals/res/Default-Landscape@2x.png"  width="2048" height="1536"/>
    <splash src="originals/res/Default-568h@2x.png" width="640" height="1136"/>
    <splash src="originals/res/Default-667h@2x.png" width="750" height="1334"/>
    <splash src="originals/res/Default-736h@3x.png" width="1242" height="2208"/>
    <splash src="originals/res/Default-Landscape-736@3x.png" width="2208" height="1242"/>
  </platform>

  <platform name="android">
    <preference name="StatusBarBackgroundColor" value="#444444" />

    <icon src="originals/res/Icon-36.png" density="ldpi" />
    <icon src="originals/res/Icon-48.png" density="mdpi" />
    <icon src="originals/res/Icon-72.png" density="hdpi" />
    <icon src="originals/res/Icon-96.png" density="xhdpi" />
    <icon src="originals/res/Icon-144.png" density="xxhdpi" />
    <icon src="originals/res/Icon-192.png" density="xxxhdpi" />

    <splash src="originals/res/Default-Landscape-320.png" density="land-ldpi"/>
    <splash src="originals/res/Default-Landscape-480.png" density="land-mdpi"/>
    <splash src="originals/res/Default-Landscape-800.png" density="land-hdpi"/>
    <splash src="originals/res/Default-Landscape-1280.png" density="land-xhdpi"/>
    <splash src="originals/res/Default-Landscape-1600.png" density="land-xhdpi"/>
    <splash src="originals/res/Default-Landscape-1920.png" density="land-xhdpi"/>
    <splash src="originals/res/Default-Portrait-320.png" density="port-ldpi"/>
    <splash src="originals/res/Default-Portrait-480.png" density="port-mdpi"/>
    <splash src="originals/res/Default-Portrait-800.png" density="port-hdpi"/>
    <splash src="originals/res/Default-Portrait-1280.png" density="port-xhdpi"/>
    <splash src="originals/res/Default-Portrait-1600.png" density="port-xxhdpi"/>
    <splash src="originals/res/Default-Portrait-1920.png" density="port-xxxhdpi"/>
  </platform>
</widget>
