$bgcolor: #efeff4;
$font_family_desktop: 'HelveticaNeue-Light', 'Helvetica-Neue', Roboto, sans-serif;
$font_family: -apple-system, 'Helvetica-Neue', Roboto, sans-serif;
$regular_fs: 19px;
$small_fs: 13px;
$large_fs: 19px;
$table-fs: 17px;
$bar_border: 1px solid rgba(216, 216, 216, .8);
$bar_border_light: 1px solid #e8e8e8;
$images_dir: '../images/icons';
$active_color: #eee;
$action_color: #0076ff;

$row-h: 44px;
$row-ih: 43px;
$row-s-h: 31px;
$row-l-h: 71px;
$row-border-color: rgba(200, 199, 204, .5);

$gradient_red: linear-gradient(#f00, #c00);
$gradient_green: linear-gradient(#0a0, #080);
$gradient_yellow: linear-gradient(#ff0, #dd0);
$gradient_gray: linear-gradient(#aaa, #888);

html, body { font: $regular_fs $font_family;  background: $bgcolor; }
body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
//	-webkit-tap-highlight-color: rgba(128,200,128,0.5);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	text-rendering: optimizeLegibility;
}

#container { position: absolute; top: 44px; bottom: 49px; width: 100%; margin: 0; padding: 35px 0 35px; background: $bgcolor; }
#container { -webkit-overflow-scrolling: touch; overflow-y: scroll; }

#statusbox {
	text-align: center;
	p { margin: 0;}
	p.row { height: $row-h; line-height: $row-h; padding: 0; border: solid $row-border-color; border-width: 0 0 1px; background-color: white; box-sizing: border-box; }
	p.row.touchable:active { background-color: $active_color; }
	p.row.first { border-top-width: 1px; }

	p.row.small { height: $row-s-h; line-height: $row-s-h; font-size: $small_fs; color: #666;}
	#crossing_name { font-weight: bold; font-size: $large_fs; }
	#status_message { height: $row-l-h; line-height: $row-l-h; font-size: $large_fs; }
	#footnote { font-size: $small_fs; color: #999; text-shadow: 0 1px white; margin: 2em auto; padding: 0 1em; max-width: 500px; }
}

#tabbar {
	bottom: 0; position: fixed; width: 100%;
	ul.tabs { margin: 0; padding: 0; list-style: none; background: #fff; border-top: $bar_border; }
	li.tab { display: inline-block; width: 50%; /* 33.33% */ height: 47px; }
	li.tab { text-align: center; color: #999; font-size: 12px; cursor: pointer; }
	// li.tab:active { background-color: $active_color; }
	li.tab.active { color: $action_color; }
	li.tab .image { width: 23px; height: 23px; margin: 6px auto 4px; background-size: 100%; }
	li.statusbox          .image { background-image: url($images_dir + '/traffic_light_gray.png');  }
	li.statusbox.active   .image { background-image: url($images_dir + '/traffic_light_filled.png') }
	li.schedule           .image { background-image: url($images_dir + '/clock_gray.png'); }
	li.schedule.active    .image { background-image: url($images_dir + '/clock_filled.png') }
	li.map                .image { background-image: url($images_dir + '/compass_gray.png'); }
}

#navbar {
	top: 0; position: fixed; width: 100%; height: 44px; background: #fff; z-index: 10;
	ul.navbar { margin: 0; padding: 0; list-style: none; background: #fff; border-bottom: $bar_border; }
	ul.navbar	li { display: inline-block; padding: 0 0; height: $row-ih; line-height: $row-ih - 1; }
	ul.navbar	li { color: #999; font-size: $table_fs; vertical-align: top; box-sizing: border-box; }
	ul.navbar	li * { vertical-align: middle; }
	ul.navbar	li.title { width: 76%; text-align: center; color: #333; font-weight: bold; -webkit-user-select: none; }
	ul.navbar	li.buttons { width: 12%; cursor: pointer; }
	// ul.navbar	li.buttons:active { background-color: $active_color; }
	ul.navbar	li.left { text-align: left; padding-left: 10px; }
	ul.navbar	li.right { text-align: right; padding-right: 8px; }
	span.brand { font-style: italic; }
	span.icon { font-size: 25px; color: $action_color; }
}

#about {
	font-size: $small_fs; padding: 0 1em; max-width: 500px; margin: 0 auto;
}

table.tableview {
	width: 100%;
	tr { background: #fff; border-bottom: $bar_border_light; height: 44px; }
	tr:first-child { border-top: $bar_border_light;} ;
	th { font-weight: normal; text-align: right; width: 30%; padding-right: 0.5em;}
	td { font-size: $table-fs; text-align: left; }

	&.one-column td:first-child { padding-left: 1em; font-size: 15px; color: #333; }

	&.with-crossing-status {
		.image { width: 30px; }
		.image .statusrow { width: 15px; height: 15px; border-radius: 50%; }
	}
}

#pages { display: none; }

.page {
	ul.navbar { display: none; }
}

.statusrow {
	&.red { background: $gradient_red; color: white; }
	&.green { background: $gradient_green; color: white; }
	&.yellow { background: $gradient_yellow; color: #333; }
	&.gray { background: $gradient_gray; color: white; }
}

.disclosure { background: url($images_dir + '/forward_gray_ext.png') center right no-repeat;  background-size: 30px 20px; }
.checkmark { background: url($images_dir + '/checkmark_filled_ext.png') center right no-repeat;  background-size: 24px 16px; }
.touchable { -webkit-user-select: none; cursor: pointer; }
.touchable:active { background-color: $active_color; }

h4.page-title { margin-top: 0;}

p.debug { margin: 5px; font-size: 12px; color: #f66; }
p#debug-info { color: green; }

table.tableview th.time { text-align: right; padding-right: 50px; }
table.tableview thead th.time { font-weight: 100; background-color: #888; color: white; }


#schedule {
	margin-top: -20px;
	th.allegro:before { content: "\e650"; font-family: 'Pe-icon-7-stroke'; color: #ddd; vertical-align: -3px; }
	th.allegro.yellow:before { color: #999; }
	.tableview { clear: both; }
}

#schedule-graph {
	padding-bottom: 10px; clear: both;

	.graph:first-child { padding-top: 0; }
	.graph { clear: both; padding: 5px 0; }

	.graph .marks { font-size: 12px; color: #333; height: 12px; }
	.mark { position: absolute; }
	.mark.p0 { left: 1px; }
	.mark.p17 { left: 16.6%; }
	.mark.p25 { left: 25%; }
	.mark.p33 { left: 33.3%; }
	.mark.p50 { left: 50%; }
	.mark.p67 { left: 66.6%; }
	.mark.p75 { left: 75%; }
	.mark.p83 { left: 83.33%; }
	.mark.p100 { right: 1px; }
	.mark.zero:before { content: '0'; color: transparent; }
	.mark.current { font-weight: bold; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);}

	.graph .durations { clear: both; height: 5px; width: 100%; overflow: hidden; line-height: 10px; white-space: nowrap; }
	.duration { height: 10px; display: inline-block; white-space: nowrap; }
	.duration.red { background: #e00; } // #f66
	.duration.yellowred { background: linear-gradient(to right, #e5e500 50%, #d00 50%); }
	.duration.green { background: green; }
	.duration.gray { background: #ccc; }
	.duration.gray { background: #090; }
}
