<table class="tableview">
  <thead>
    <tr>
      <th class="time">
        <div class="time"> На СПб </div>
      </th>
      <th class="time">
        <div class="time"> От СПб </div>
      </th>
    </tr>
  </thead>

  <tbody>
    {{#*inline "row"}}
      <th class="{{directionKey}} time statusrow {{css}}" data-train="{{trainNumber}}">
        <div class="time">
          {{time}}
          <span class="marks"> </span>
        </div>
      </th>
    {{/inline}}

    {{#each closing_pairs}}
      <tr>
        {{> row this.[1]}}
        {{> row this.[0]}}
      </tr>
    {{/each}}
  </tbody>
</table>
