#crossing_name Удельная
#status_message.red Откроют через 1 минуту
#crossing_status Переезд закроют примерно в 23:16
#train_status Аллегро пройдет примерно в 23:26

#adblock 

#footnote ВНИМАНИЕ: Приложение больше не знает точного расписания Аллегро. Расписание рассчитано приблизительно, на основе данных о закрытии некоторых переездов и времени прибытия Аллегро в Санкт-Петербург/Выборг. От Удельной до Песочной и ближе к Выборгу точность должна быть достаточно высокой, на остальных переездах погрешность может быть до 10 минут.
